<section id="owener">
	<div class="container">
		<div class="text-center">
		<img class="profile-photo" src="{{ site.baseurl }}/{{ site.profile_photo }}">
		<p class="owener-name">{{ site.owener_name }}</p>
		</div>
		<p class="owener-description">{{ site.owener_description }}</p>
		<div class="profile-list text-right">
		<ul>
			<li><a href="">プロフィール詳細 ></a></li>
			<li><a href="">お仕事依頼の詳細 ></a></li>
			<li><a href="">ヒモ主依頼の詳細 ></a></li>
			<li><a href="">お問い合わせ ></a></li>
		</ul>
		</div>
	</div>
</section>